.content{
   
    width: 500px;
    margin-left: 40px;
    margin-top: 30px;

 
   
   
}

.cell{
    padding: 30px;
}

.tittle{
    margin-top: 90px;
    margin-left: 430px;
    font-size: large;
    font-weight: bold;

    
}
.mat-header-cell{
    background-color:#bebebe;
    color: white;
    font-size: 17px;
    font-family: sans-serif;
    border-radius: 2px;
}
.sta{
    width: 40px;
    height: 10px;
    margin-top: 4px;
    margin-left: 8px;
    background-color: red;
    margin-bottom: 3px;
}
.sta1{
    width: 40px;
    height: 10px;
    margin-top: 4px;
    margin-left: 13px;
    background-color: rgb(217, 196, 61);
}
.sta2{
    width: 40px;
    height: 10px;
    margin-top: 4px;
    margin-left: 11px;
    background-color: rgb(28, 126, 64);
}

.status1{
    display: flex;
}

.is-red{
    color: red;
}

.is-green{
    color: green;
}
.is-yellow{
    color: rgb(217, 196, 61);
}

.main{
    display: flex;
  
}
.head{
    display: flex;
}

.search{
    margin-left: 80px;
    margin-top: 50px;

}
.tittle4{
    margin-left: 300px;
    font-size: large;
    font-weight: bold;
}
.selectdep{
    margin-left: 400px;
    margin-top: 40px;
    
}
.content4{
    width: 800px;
}
button{
    margin-left: 700px;
}
