<div >
  <button class="btn" style="background-color:#3f833f;"
  mat-raised-button color="primary"  
  routerLink="/LeaveManagement/TakeLeave"routerLinkActive="router-link-active">TakeLeave</button>
</div>
<table  class="content" mat-table [dataSource]="GivenData" >  
    <ng-container  matColumnDef="Id">
      <th class="cell"  mat-header-cell *matHeaderCellDef> Id </th>
      <td class="cell"   mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <ng-container matColumnDef="Name">
      <th class="cell"  mat-header-cell *matHeaderCellDef> Name </th>
   <td class="cell"  mat-cell *matCellDef="let element">{{element.employeeName}}</td>
    </ng-container>
    <ng-container matColumnDef="Department">
      <th class="cell"  mat-header-cell *matHeaderCellDef> Department </th>
   <td class="cell"  mat-cell *matCellDef="let element">{{element.departmentName}}</td>
    </ng-container>
    <ng-container matColumnDef="FromDate">
      <th class="cell"  mat-header-cell *matHeaderCellDef> FromDate </th>
   <td class="cell"  mat-cell *matCellDef="let element">{{element.fromDate}}</td>
    </ng-container>
    <ng-container matColumnDef="ToDate">
      <th class="cell"  mat-header-cell *matHeaderCellDef> ToDate </th>
   <td class="cell"  mat-cell *matCellDef="let element">{{element.toDate}}</td>
    </ng-container>
    <ng-container  matColumnDef="Type">
      <th class="cell"  mat-header-cell *matHeaderCellDef> Type </th>
      <td class="cell"  style="margin-left: 100px;" mat-cell *matCellDef="let element">{{element.leaveTypeName}} </td>
    </ng-container>
    <ng-container class="content" matColumnDef="Actions">
      <th class="cell"  mat-header-cell *matHeaderCellDef>Actions</th>
      <td class="cell"  mat-cell *matCellDef="let element">
        <a (click)="DeleteLeave(element.id)" color="warn"><mat-icon aria-hidden="false" style="color:rgb(224, 104, 104);" aria-label="Example home icon" fontIcon="home">delete</mat-icon></a>
        <a routerLink='/LeaveManagement/TakeLeave/{{element.id}}' routerLinkActive="router-link-active" color="warn"><mat-icon style="color: rgb(108, 108, 172);" aria-hidden="false" aria-label="Example home icon" fontIcon="home">edit</mat-icon></a>
      </td>      
    </ng-container>
    <tr  mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr  mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table> 
  <div class="paginatore">
    <mat-paginator [length]="Leave.length"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="OnpageChange($event)">
  </mat-paginator>
  
  </div>
