
<div class="container">

  <mat-card class="main">
    <img  src="{{employ.fileName}}">

    <mat-card-content style="margin-left: 105px;font-weight: bold;" >{{employ.lastName}}</mat-card-content>
    <mat-card-content>FirstName :{{employ.firstName}}</mat-card-content>
    <mat-card-content>Department :{{employ.departmentName}}</mat-card-content>
    <mat-card-content>Designation :{{employ.designationName}}</mat-card-content>
    <mat-card-content>BasicSalary :{{employ.basicSalary}}</mat-card-content>
    <mat-card-content>Contact :{{employ.contact}}</mat-card-content>
    <mat-card-content>JoinDate :{{employ.joinDate}}</mat-card-content>
  

  </mat-card>

</div>
