

.content{
   
    width: 900px;
    margin-left: 200px;
    margin-top: 10px;
    

}

.mat-header-cell{
    background-color:#bebebe;
    color: white;
    font-size: 17px;
    font-family: sans-serif;
    border-radius: 2px;
}
.cell{
    padding: 30px;
}

/* .btn{
    margin-left: 1180px;
    margin-top: 140px; 
    margin-bottom: 0px;
} */

a:hover{
    color: blue;
}

.paginatore{
    margin-top: 10px;
    margin-left: 40px;
    margin-bottom: 0px;
    width: 1200px;
}

.paginatore mat-paginator {
    margin-right: 260px;
    background-color: rgba(255, 255, 255, 0.100);
}

.Deleteconfirmation{
    width: 300px;
    height: 150px;
    margin-left: 750px;
    background-color: #bebebe;
}

.fade{

    animation: fadOut 7s;
    width: 400px;
    height: 80px;
    background-color: rgb(135, 231, 199);
    color: rgb(43, 41, 41);
    margin-top:  160px;
    margin-left: 1500px;
    border-radius: 2px;
   }
   .fade p{
     margin-left: 110px;
     padding: 30px;
     font-size: large;
   
   }
   
   @keyframes fadOut{
     from{
       opacity: 129;
     }
     to{
       opacity: 0;
     }
   }

   .head{
    display: flex;

    margin-left: 200px;
    margin-top: 60px; 
    margin-bottom: 0px;
   }
   .head button{
    margin-left: 600px;
    margin-top: 40px;
   }
   
   .head input{
    height: 20px;
    width: 300px;
   }

   .search{
    display: flex;
   
   }