<div class="head">
  <div>
    <mat-form-field class="form1-input" appearance="standard">
      <div class="search">
        <div>
          <mat-icon *ngIf="SearchStatus==false">search</mat-icon>
        </div>
        <div>
          <p style="color: red;" *ngIf="SearchStatus">not found</p>
          <input [(ngModel)]="SearchData" (input)="SearchEvent()"placeholder="search" name="sal" type="text" matInput />
        </div>

    
      </div>
    </mat-form-field>
  </div>
  <div>
    <button
      style="background-color: #3f833f"
      mat-raised-button
      color="primary"
      routerLink="/Masters/Employees/AddEmployee"
      routerLinkActive="router-link-active"
    >
      + AddEmploy
    </button>
  </div>
</div>

<ng-container *ngFor="let item of GivenData; let i=index"  >
<span *ngIf="i==0" >


<table  class="content" mat-table *ngIf="SearchData==='' ||   item.lastName.includes(SearchData)"   [dataSource]="GivenData">
  
  <ng-container matColumnDef="Id">
    <th class="cell" mat-header-cell *matHeaderCellDef>Id</th>
    <td class="cell" mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>
  <ng-container matColumnDef="Name">
    <th class="cell" mat-header-cell *matHeaderCellDef>Name</th>
    <td class="cell" mat-cell *matCellDef="let element">
      <a (click)="getdata(element)">{{ element.lastName }}</a>
    </td>
  </ng-container>
  <ng-container matColumnDef="Department">
    <th class="cell" mat-header-cell *matHeaderCellDef>Department</th>
    <td class="cell" style="margin-left: 100px" mat-cell *matCellDef="let element">{{ element.departmentName }}</td>
  </ng-container>
  <ng-container matColumnDef="Designation">
    <th class="cell" mat-header-cell *matHeaderCellDef>Designation</th>
    <td class="cell" style="margin-left: 100px" mat-cell *matCellDef="let element">{{ element.designationName }}</td>
  </ng-container>
  <ng-container class="content" matColumnDef="Actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element">
      <a (click)="openDialog(element.id)" color="warn"
        ><mat-icon aria-hidden="false" style="color: rgb(224, 104, 104)" aria-label="Example home icon" fontIcon="home"
          >delete</mat-icon
        ></a
      >
      <a routerLink="/Masters/Employees/AddEmployee/{{ element.id }}" routerLinkActive="router-link-active" color="warn"
        ><mat-icon style="color: rgb(108, 108, 172)" aria-hidden="false" aria-label="Example home icon" fontIcon="home"
          >edit</mat-icon
        ></a
      >
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
</span>

</ng-container>



<div class="paginatore">
  <mat-paginator
    [length]="employs.length"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="OnpageChange($event)"
  >
  </mat-paginator>
</div>
<div class="fade" *ngIf="this.DeleteStatus">
  <p>Deleted Successfully></p>
</div>
